body {
    margin: 25px;
    background-color: rgba(165, 190, 238, 0.568);
    font-family: 'Roboto', sans-serif;
}

.inputs input {
    margin: 10px;
    padding: 1px;
}

#fotoPais:hover{
    border-radius: 15px;
    transform: scale(1.3,1.3);
    display: block;
    margin: auto;
}

#fotoPais{
    transition: border-radius 1s;
    transition: margin 1s;
    transition: transform 1s;
    transition: display 1s
}

.reserves {
    width: 1100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.reserva {
	width: 300px;
    border: black 1px solid;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(93, 95, 199, 0.466);
    margin-bottom: 0;
}

.dadesReserva {
	position: relative;
	padding: 10px;
}

.fotoReserva{
	object-fit: fill;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-bottom: 0;
}

#errorPais, #errorNom, #errorTelefon, #errorPersones, #errorData, #errorTelefonNum{
    color: red;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

.paperera{
	position: absolute;
	top: 10px;
	right: 10px;
}

.fotoPaperera {
	/*background-image: url(../images/paperera.png);
	background-size: 20px 20px;*/
	text-decoration: none;
	color: rgb(255, 39, 39);
}

.fotoPaperera:hover {
    font-size: 18px;
    font-weight: 600;
}

ul {
    text-decoration: none;
    list-style: none;
	margin-left: 10px;
}

ul li {
	display: inline;
}


.ordenacio{
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgba(109, 109, 201, 0.678);
    color: black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.ordenacio:hover {
	color: white;
	background-color: rgba(117, 170, 253, 0.849);
}

.ordenacio:link {
  text-decoration: none;
}





